extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
        include ../static/style.css
        include ../static/aboutstyle.css

block content 

    div.container 
        div.box 
            h2 Our History 
            p "[Your Dance Academy Name] was founded in [year] by [founder's name], a passionate dancer with a vision to create a welcoming space for dance enthusiasts to learn and grow. Since then, we've been dedicated to providing top-notch dance education to our students." 

        div.box 
            h2 Our Mission
            p "At [Your Dance Academy Name], our mission is to inspire and empower dancers of all ages and abilities to reach their fullest potential. We strive to cultivate a supportive and inclusive community where creativity, passion, and excellence thrive."

        div.box 
            h2 Philosophy:
            p "At [Your Dance Academy Name], we believe in fostering a holistic approach to dance education. While we prioritize  technical proficiency, we also emphasize creativity, self-expression, and artistry. Our goal is to instill a love   for dance while equipping students with the skills and confidence to succeed both on and off the stage."

        div.box 
            h2 Community Engagement
            p "At [Your Dance Academy Name], we are deeply committed to giving back to our community. Through performances, workshops, and outreach programs, we strive to share the joy of dance with audiences of all backgrounds. We are proud to partner with local organizations to promote arts education and cultural enrichment."