extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
        include ../static/style.css
        include ../static/servicestyle.css

block content
    div.container 
        div.box1
            div.info 
                h2 Hip-Hop
                p  Hip-hop, a cultural force born from the streets,Where rhymes and beats intertwine to move feet.From Bronx block parties to global acclaim,Its roots run deep, igniting a lyrical flame.

        div.box2
            div.info1 
                h2 Bharatnatyam
                p  Graceful gestures and intricate footwork entwine,Expressing emotions, stories divine.From devotion to love, from joy to despair,Bharatanatyam's repertoire, rich and rare.

        div.box3
            div.info
                h2 Modern-Dance
                p  From Martha Graham's contractions to Merce Cunningham's chance,Modern dance defies conventions, inviting new dance.It's a canvas for emotions, a platform to explore,Where every movement tells a story, never a bore.
                           
        div.box4 
            div.info1 
                h2 Swing
                p  From Harlem's Savoy to ballrooms grand,Swing's infectious spirit spreads across the land.With partners in sync, they glide and spin,In a dance of joy, where hearts begin to grin.
        
